@model IEnumerable<FilterRLC.Models.FilterParams>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of filters</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
<div class="container w-auto">
    <div class="text-center p-2">
        <h2>Here is the list of filters</h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>ID Number</th>
                    <th>Resistance_1</th>
                    <th>Resistance_2</th>
                    <th>Inductance</th>
                    <th>Capacitance</th>
                    <th>Input voltage</th>
                    <th>Frequency min</th>
                    <th>Frequency max</th>
                    <th>Number of points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FilterRLC.Models.FilterParams filter in Model)
                {
                    <tr>
                        <td>@filter.ID</td>
                        <td>@filter.Resistance_1</td>
                        <td>@filter.Resistance_2</td>
                        <td>@filter.Inductance</td>
                        <td>@filter.Capacitance</td>
                        <td>@filter.U1</td>
                        <td>@filter.Fmin</td>
                        <td>@filter.Fmax</td>
                        <td>@filter.NumOfRows</td>
                        <td>
                            <a asp-action="Waveform" asp-route-id="@filter.ID">Waveform |</a>
                            <a asp-action="EditForm" asp-route-id="@filter.ID"> Edit |</a>
                            <a asp-action="Delete" asp-route-id="@filter.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="FilterForm">Add Filter RLC</a>
        <a class="btn btn-secondary" asp-action="Index">Back to Home</a>       
    </div>
</div>
</body>
</html>
